* {
    box-sizing: border-box;
}

body {
    background-color: grey;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
}

#container {
    /* z-index: -2; */
    width: 700px;
    height: 500px;
    background-color: darkgray;
    padding: 1rem;
    padding: 0;
    background-image: url(/images/Desert/Desert1.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#game-intro {
    z-index: 5;
    background-image: url(/images/Desert/Desert.png);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    position: absolute;
}

h1 {
    margin-top: 200px;
}

.space {
    width: 100%;
}


button {
    /* margin-top: 400px; */
    width: 200px;
    height: 50px;
    box-shadow: 5px 5px 10px 5px rgb(63, 62, 62);
    border-radius: 10px;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0%;
    left: 25%;
    /* z-index: -1; */
}

#instructions {
    position: absolute;
    bottom: 0px;
    margin-bottom: 0;
}

#input {
    margin: 20%;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}
